.operator-name,
.operator-info {
  display: inline-block;
  margin-right: 10px;
}

.tables-content {
  display: flex;
  flex-wrap: wrap;
  margin-right: -0.5rem;
  margin-left: -0.5rem;
}
.table-holder {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  margin-bottom: 1rem;
  flex-basis: 50%;
  max-width: 50%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch; /* iOS momentum-based scrolling */
}
.operator-header {
  position: relative;
  color: #fff;
  padding: 0.75rem;
  background-color: #607d8b;
  cursor: pointer;
}

.operator-header::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 15px;
  width: 10px;
  height: 10px;
  margin-top: -5px;
  opacity: 0.8;
  border-right: 3px solid #ebebeb;
  border-bottom: 3px solid #ebebeb;
  transition: transform 500ms ease-in-out;
  transform: rotate(-45deg);
  transform-style: preserve-3d;
}

.operator-header.open::after {
  transform: rotate(45deg);
}

.operator-ks .operator-header {
  background-color: var(--color-ks);
}
.operator-mts .operator-header {
  background-color: var(--color-mts);
}
.operator-life .operator-header {
  background-color: var(--color-life);
}
.operator-triMob .operator-header {
  background-color: var(--color-triMob);
}

.updated {
  text-align: right;
  font-size: 0.75rem;
}

.text-success {
  color: var(--success);
}

.text-danger {
  color: var(--danger);
}

@media (max-width: 1023px) {
  .table-holder {
    flex-basis: 100%;
    max-width: none;
    width: 100%;
    overflow-y: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }
}

@media (max-width: 424px) {
  .table-holder {
    font-size: 0.9rem;
  }
}

@media (max-width: 374px) {
  .table-holder {
    font-size: 0.8rem;
  }
}
